* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f5f5f7cc;
  display: flex;
  height: 48px;
  width: 100%;
}

.headerdesktop {
  display: flex;
  font-family: "Inter", sans-serif;
  background-color: #f5f5f7cc;
  height: 48px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  gap: 24px;
  align-items: center;
  justify-content: center;
  display: none;
}

.headermenu {
  display: flex;
  height: 48px;
  justify-content: space-around;
  gap: 197px;
}

.news {
  color: #1d1d1f;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  display: flex;
  width: 100%;
  height: 37px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 31px;
  text-align: center;
}
.newsarea {
  height: 73px;
  margin-top: 16px;
}
.body1 {
  background-image: url(./images/Figure@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body1desktop {
  background-image: url(./images/figure16prodesk.png);
  background-size: contain;
  height: 692px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body2desktop {
  background-image: url(./images/figure16desk.png);
  background-size: contain;
  height: 692px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body3desktop {
  background-size: contain;
  height: 580px;
  width: 100%;
  display: flex;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body4desktop {
  background-size: contain;
  height: 580px;
  width: 100%;
  display: flex;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body3pad {
  display: flex;
  width: 100%;
  height: 490px;
  display: none;
}
.body3pads {
  background-image: url(./images/FigureIpad.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body4pads {
  background-image: url(./images/Figureairpod.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body5pads {
  background-image: url(./images/figurewatch.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body6pads {
  background-image: url(./images/figuremacbook.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body7pads {
  background-image: url(./images/figuretrade.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body8pads {
  background-image: url(./images/figuredeals.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body3pc {
  background-image: url(./images/figureipaddesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.body4pc {
  background-image: url(./images/figureairpoddesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body5pc {
  background-image: url(./images/figurewatchdesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body6pc {
  background-image: url(./images/figuremacbookdesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body7pc {
  background-image: url(./images/figuretradedesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body8pc {
  background-image: url(./images/figurecarddesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body5desktop {
  text-align: center;
  display: none;
  margin-top: 12px;
  background-size: contain;
  height: 580px;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.bodygift {
  background-image: url(./images/figuregift.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 692px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.bodygifttext {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 446px;
}
.bodytextsdesktop {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bodytexts {
  margin-top: 350px;
  display: flex;
  flex-direction: column;
}
.bodytext1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodytext2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.bodytext3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 20px;
  text-align: center;
  width: 241px;
  height: 53px;
}
.bodybutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}
.button1 {
  color: white;
  font-size: 14px;
  width: 107px;
  height: 36px;
  background-color: #0071e3;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2 {
  color: white;
  font-size: 14px;
  width: 66px;
  height: 36px;
  background-color: #0071e3;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button3 {
  color: white;
  font-size: 14px;
  width: 150px;
  height: 36px;
  background-color: #0071e3;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body2 {
  background-image: url(./images/Figure2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.bodytexts2 {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}
.bodytexts3 {
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  height: 147px;
  width: 241px;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
}
.bodytexts4 {
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  height: 168px;
  width: 257px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 84px;
}
.bodytexts5 {
  margin-top: 301px;
  display: flex;
  flex-direction: column;
  height: 152px;
  width: 314px;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
  text-align: center;
}
.body3 {
  background-image: url(./images/FigureIpad.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body4 {
  background-image: url(./images/Figureairpod.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body5 {
  background-image: url(./images/figurewatch.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body6 {
  background-image: url(./images/figuremacbook.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body7 {
  background-image: url(./images/figurebusiness.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body8 {
  background-image: url(./images/figuredeals.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body9 {
  background-image: url(./images/figuretrade.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.movieareamobile {
  display: flex;
  flex-direction: column;
  height: 533px;
  width: 100%;
}
.moviemobile {
  width: 100%;
  height: 495px;
  display: flex;
  gap: 16px;
}
.movie1mobile {
  width: 20%;
  height: 495px;
  background-image: url(./images/Movie3mobile.png);
}
.movie2mobile {
  width: 60%;
  height: 495px;
  background-image: url(./images/Movie1mobile.png);
}
.movie3mobile {
  width: 20%;
  height: 495px;
  background-image: url(./images/Movie2mobile.png);
}
.dots {
  display: flex;
  justify-content: center;
  gap: 14px;
  opacity: 42%;
  margin-top: 16px;
  height: 32px;
}
.dot1 {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: black;
}
.suggestarea {
  height: 160px;
  width: 100%;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.movieareadeskall {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: none;
}
.movieareadesk {
  display: flex;
  height: 668px;
  width: 100%;
  gap: 16px;
  display: none;
  animation: scrollCatalog 30s linear infinite;
}
/* .catalog-track img {
  width: 100%;
  height: 668px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
} */
.movie1desk {
  width: 100%;
  height: 668px;
  background-image: url(./images/movie2desk.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.movie2desk {
  width: 100%;
  height: 668px;
  background-image: url(./images/movie1desk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* animation-name: slide-in;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}
.movie3desk {
  width: 100%;
  height: 668px;
  background-image: url(./images/movie3desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.movieareapad {
  display: flex;
  height: 368px;
  width: 100%;
  gap: 16px;
  overflow-x: scroll;
  display: none;
}
.padmovieall {
  display: flex;
  flex-direction: column;
}
.movie1pad {
  width: 20%;
  height: 668px;
  background-image: url(./images/movie2desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.movie2pad {
  width: 80%;
  height: 668px;
  background-image: url(./images/movie1desk.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 391px) {
  #kebab {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
  .headermenu {
    gap: 575px;
  }
  .newsarea {
    height: 48px;
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .body1 {
    display: none;
  }
  .body2 {
    display: none;
  }
  .body3 {
    display: none;
  }
  .body4 {
    display: none;
  }
  .body5 {
    display: none;
  }
  .body6 {
    display: none;
  }
  .body7 {
    display: none;
  }
  .body8 {
    display: none;
  }
  .body9 {
    display: none;
  }
  .body1desktop {
    display: flex;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body2desktop {
    display: flex;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body3pad {
    display: flex;
    width: 100%;
  }
  .suggestarea {
    display: none;
  }
  .movieareapad {
    display: flex;
  }
  .movieareamobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .headerdesktop {
    display: flex;
  }
  .header {
    display: none;
  }
  .newsarea {
    height: 48px;
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .body1 {
    display: none;
  }
  .body1desktop {
    display: flex;
    width: 100%;
  }
  .body2desktop {
    display: flex;
    width: 100%;
  }
  .bodygift {
    display: flex;
    width: 100%;
  }
  .body3 {
    display: none;
  }
  .body4 {
    display: none;
  }
  .body5 {
    display: none;
  }
  .body6 {
    display: none;
  }
  .body9 {
    display: none;
  }
  .body3desktop {
    display: flex;
    width: 100%;
  }
  .body3pad {
    display: none;
  }
  .body4desktop {
    display: flex;
    width: 100%;
  }
  .body5desktop {
    display: flex;
    width: 100%;
  }
  .movieareamobile {
    display: none;
  }
  .suggestarea {
    display: none;
  }
  .movieareadeskall {
    display: flex;
  }
  .movieareadesk {
    display: flex;
  }
  .movieareapad {
    display: none;
  }
  .padmovieall {
    display: none;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(150%);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(150%);
  }
}
@keyframes scrollCatalog {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
