* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #f5f5f7cc;
  display: flex;
  height: 48px;
  flex-direction: row;
  justify-content: space-between;
}
.headermenu {
  display: flex;
  height: 60px;
  justify-content: center;
}
.rightmenu {
  display: flex;
  width: auto;
}
body {
  display: flex;
}
