* {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.header {
  width: 100%;
  height: 44px;
  background-color: #f5f5f7cc;
}
.headermenu {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  font-family: "Inter", "sans-serif";
  font-size: 12px;
}
.news {
  display: flex;
  height: 44px;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  color: #1d1d1f;
  justify-content: center;
}
.body1 {
  display: flex;
  background-image: url(./images/Figure.png);
  background-size: contain;
  height: 692px;
  justify-content: center;
}
.body2 {
  margin-top: 16px;
  display: flex;
  background-image: url(./images/Background.png);
  background-size: contain;
  height: 692px;
  justify-content: center;
}
.body1texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", "sans-serif";
  color: white;
  height: 172px;
  margin-top: 55px;
}
.bodytext1 {
  font-family: "Inter", "sans-serif";
  font-size: 52px;
  font-style: bold;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  height: 60px;
}
.bodytext2 {
  font-size: 24px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-top: 16px;
}
.bodybuttons {
  display: flex;
  height: 44px;
  gap: 36px;
  margin-top: 20px;
}
.button1 {
  color: #2997ff;
  background-color: #0071e3;
  height: 44px;
  border-radius: 99px;
  width: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.button2 {
  color: #2997ff;
  display: flex;

  height: 44px;
  border-radius: 99px;
  width: 68px;
  justify-content: center;
  align-items: center;
  border: 2px 2px, #0071e3;
}
