* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f5f5f7cc;
  display: flex;
  height: 48px;
  width: 100%;
}

.headerdesktop {
  display: flex;
  font-family: "Inter", sans-serif;
  background-color: #f5f5f7cc;
  height: 48px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  gap: 24px;
  align-items: center;
  justify-content: center;
  display: none;
}

.headermenu {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  gap: 175px;
}
.headerend {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: end;
  justify-content: end;
}

.news {
  color: #1d1d1f;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  display: flex;
  width: 100%;
  height: 37px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 31px;
  margin-right: 31px;
}
.newsarea {
  height: 73px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body1 {
  background-image: url(./images/Figure@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body1desktop {
  background-image: url(./images/figure16prodesk.png);
  background-size: contain;
  height: 692px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body2desktop {
  background-image: url(./images/figure16desk.png);
  background-size: contain;
  height: 692px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body3desktop {
  background-size: contain;
  height: 580px;
  width: 100%;
  display: flex;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body4desktop {
  background-size: contain;
  height: 580px;
  width: 100%;
  display: flex;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.body3pad {
  display: flex;
  width: 100%;
  height: 490px;
  display: none;
  margin-top: 12px;
}
.body3pads {
  background-image: url(./images/FigureIpad.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body4pads {
  background-image: url(./images/Figureairpod.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body5pads {
  background-image: url(./images/figurewatch.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body6pads {
  background-image: url(./images/figuremacbook.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body7pads {
  background-image: url(./images/figuretrade.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body8pads {
  background-image: url(./images/figuredeals.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body3pc {
  background-image: url(./images/figureipaddesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.body4pc {
  background-image: url(./images/figureairpoddesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body5pc {
  background-image: url(./images/figurewatchdesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body6pc {
  background-image: url(./images/figuremacbookdesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body7pc {
  background-image: url(./images/figuretradedesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body8pc {
  background-image: url(./images/figurecarddesk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.body5desktop {
  text-align: center;
  display: none;
  margin-top: 12px;
  background-size: contain;
  height: 580px;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.bodygift {
  background-image: url(./images/figuregift.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 692px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  display: none;
}
.bodygifttext {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 446px;
}
.bodytextsdesktop {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bodytexts {
  margin-top: 350px;
  display: flex;
  flex-direction: column;
}
.bodytext1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: bold;
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodytext2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.bodytext3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 20px;
  text-align: center;
  width: 241px;
  height: 53px;
}
.bodybutton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}
.button1 {
  color: white;
  font-size: 14px;
  width: 107px;
  height: 36px;
  background-color: #0071e3;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2 {
  color: #0071e3;
  font-size: 14px;
  width: 66px;
  height: 36px;
  border-radius: 99px;
  border: 1px solid #0071e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button3 {
  color: white;
  font-size: 14px;
  width: 150px;
  height: 36px;
  background-color: #0071e3;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body2 {
  background-image: url(./images/Figure2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.bodytexts2 {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}
.bodytexts3 {
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  height: 147px;
  width: 241px;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
}
.bodytexts4 {
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  height: 168px;
  width: 257px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 84px;
}
.bodytexts5 {
  margin-top: 301px;
  display: flex;
  flex-direction: column;
  height: 152px;
  width: 314px;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
  text-align: center;
}
.body3 {
  background-image: url(./images/FigureIpad.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body4 {
  background-image: url(./images/Figureairpod.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body5 {
  background-image: url(./images/figurewatch.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body6 {
  background-image: url(./images/figuremacbook.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body7 {
  background-image: url(./images/figurebusiness.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body8 {
  background-image: url(./images/figuredeals.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.body9 {
  background-image: url(./images/figuretrade.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}
.movieareamobile {
  display: flex;
  flex-direction: column;
  height: 533px;
  width: 100%;
}
.moviemobile {
  width: 100%;
  height: 495px;
  display: flex;
  gap: 16px;
}
.movie1mobile {
  width: 20%;
  height: 495px;
  background-image: url(./images/Movie3mobile.png);
}
.movie2mobile {
  width: 60%;
  height: 495px;
  background-image: url(./images/Movie1mobile.png);
}
.movie3mobile {
  width: 20%;
  height: 495px;
  background-image: url(./images/Movie2mobile.png);
}
.dots {
  display: flex;
  justify-content: center;
  gap: 14px;
  opacity: 42%;
  margin-top: 16px;
  height: 32px;
}
.dotspad {
  display: flex;
  justify-content: center;
  gap: 14px;
  opacity: 42%;
  margin-top: 0px;
  height: 32px;
}
.dot1 {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: black;
}
.suggestarea {
  height: 160px;
  width: 100%;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.moviebutton {
  font-family: "Inter", sans-serif;
  background-color: white;
  border-radius: 99px;
  height: 44px;
  width: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 400;
  margin-left: 70px;
  margin-bottom: 58px;
}
.movietext {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-shadow: 2px 2px black;
  margin-left: 20px;
  margin-bottom: 70px;
}
.moviebuttonpad {
  font-family: "Inter", sans-serif;
  background-color: white;
  border-radius: 99px;
  height: 36px;
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movietextpad {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-shadow: 2px 2px black;
  margin-left: 20px;
  margin-bottom: 70px;
}
.movieareadeskall {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: none;
  justify-content: center;
}
.movieareadesk {
  display: flex;
  margin-top: 8px;
  gap: 16px;
  display: none;
  animation: scrollCatalog 30s linear infinite;
}
.movieareadesk:hover {
  animation-play-state: paused;
}
.movie2desk:hover {
  filter: brightness(80%);
}
.moviespad {
  display: flex;
  margin-top: 8px;
  gap: 16px;
  animation: scrollCatalog 30s linear infinite;
}
.movie1desk {
  width: 1250px;
  height: 668px;
  background-image: url(./images/movie2desk.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: end;
  /* background-repeat: no-repeat; */
}

.movie2desk {
  width: 1250px;
  height: 668px;
  background-image: url(./images/movie1desk.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: end;
  /* background-repeat: no-repeat; */
  /* animation-name: slide-in;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}
.movie3desk {
  width: 1250px;
  height: 668px;
  background-image: url(./images/movie3desk.png);
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: end;
  /* background-repeat: no-repeat; */
}
.movieareapad {
  display: flex;
  height: 368px;
  width: 100%;
  gap: 16px;
  flex-direction: column;
  margin-top: 24px;
  display: none;
}
.moviespad {
  display: flex;
  height: 368px;
  width: 100%;
}
.movie1pad {
  width: 689px;
  height: 368px;
  background-image: url(./images/movie2desk.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
}
.movie2pad {
  width: 689px;
  height: 368px;
  background-image: url(./images/movie1desk.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
}
.movie3pad {
  width: 689px;
  height: 368px;
  background-image: url(./images/movie3desk.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
}
.footermenu {
  display: flex;
  height: 292px;
  gap: 16px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 12px;
  animation: scrollCatalog 30s linear infinite;
  display: none;
}
.footermenu:hover {
  animation-play-state: paused;
}
.footer1:hover {
  filter: brightness(80%);
}
.footer1pad:hover {
  filter: brightness(80%);
}
.footeranimation {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.footerpadanimation {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.movieanimation {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.footermenupad {
  display: flex;
  height: 286px;
  gap: 16px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 48px;
  animation: scrollCatalog 30s linear infinite;
  display: none;
}
.footer1 {
  width: 25%;
  height: 236px;
  background-image: url(./images/footer1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 120px;
}
.footer2 {
  width: 25%;
  height: 236px;
  background-image: url(./images/footer2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer3 {
  width: 25%;
  height: 236px;
  background-image: url(./images/footer3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 140px;
}
.footer4 {
  width: 25%;
  height: 236px;
  background-image: url(./images/footer4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 180px;
}
.footer1pad {
  width: 25%;
  height: 161px;
  background-image: url(./images/footer1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 120px;
}
.footer2pad {
  width: 25%;
  height: 161px;
  background-image: url(./images/footer2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer3pad {
  width: 25%;
  height: 161px;
  background-image: url(./images/footer3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 140px;
}
.footer4pad {
  width: 25%;
  height: 161px;
  background-image: url(./images/footer4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 180px;
}
.gallery {
  scroll-snap-type: mandatory;
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth;
  width: 100vw;
  height: 668px;
}
.gallery > div {
  flex: 0 0 60%;
  height: 668px;
  scroll-snap-align: start;
}
.gallery div {
  scroll-snap-align: center;
}
.gallery1 {
  width: 100%;
  height: 668px;
  background-image: url(./images/movie1desk.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: end;
}
.gallery2 {
  width: 100%;
  height: 668px;
  background-image: url(./images/movie2desk.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: end;
}
.gallery3 {
  width: 100%;
  height: 668px;
  background-image: url(./images/movie3desk.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: end;
}

@media screen and (min-width: 391px) {
}
@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }
  .headermenu {
    gap: 575px;
  }
  .newsarea {
    height: 48px;
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .body1 {
    display: none;
  }
  .body2 {
    display: none;
  }
  .body3 {
    display: none;
  }
  .body4 {
    display: none;
  }
  .body5 {
    display: none;
  }
  .body6 {
    display: none;
  }
  .body7 {
    display: none;
  }
  .body8 {
    display: none;
  }
  .body9 {
    display: none;
  }
  .body1desktop {
    display: flex;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body2desktop {
    display: flex;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body3pad {
    display: flex;
    width: 100%;
  }
  .suggestarea {
    display: none;
  }
  .movieareapad {
    display: flex;
  }
  .movieareamobile {
    display: none;
  }
  .footermenu {
    display: none;
  }
  .footermenupad {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .headerdesktop {
    display: flex;
  }
  .header {
    display: none;
  }
  .newsarea {
    height: 48px;
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .body1 {
    display: none;
  }
  .body1desktop {
    display: flex;
    width: 100%;
  }
  .body2desktop {
    display: flex;
    width: 100%;
  }
  .bodygift {
    display: flex;
    width: 100%;
  }
  .body3 {
    display: none;
  }
  .body4 {
    display: none;
  }
  .body5 {
    display: none;
  }
  .body6 {
    display: none;
  }
  .body9 {
    display: none;
  }
  .body3desktop {
    display: flex;
    width: 100%;
  }
  .body3pad {
    display: none;
  }
  .body4desktop {
    display: flex;
    width: 100%;
  }
  .body5desktop {
    display: flex;
    width: 100%;
  }
  .movieareamobile {
    display: none;
  }
  .suggestarea {
    display: none;
  }
  .movieareadeskall {
    display: flex;
  }
  .movieareadesk {
    display: flex;
  }
  .movieareapad {
    display: none;
  }
  .footermenu {
    display: flex;
  }
  .footermenupad {
    display: none;
  }
}

@keyframes scrollCatalog {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scrollCatalog2 {
  0% {
    transform: translateX(-50);
  }
  100% {
    transform: translateX(100%);
  }
}
